@font-face {
	font-family: 'ReformaGroteskBoldC'; 
	src: local('ReformaGroteskBoldC'),
		url(Reformagroteskboldc.otf); 
}


body {
    margin: 0 auto;
    padding: 0;
}

header {
    background-image: url("pic/back.png");
}

header ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
}

header a{
    text-decoration: none;
    font-family: 'ReformaGroteskBoldC';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


header nav {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 125%;
    color: #DB3138;
    margin-top: 168px;
    margin-bottom: 61px;
    font-family: 'ReformaGroteskBoldC';
}

.header-box {
    text-align: center;
}

.header-box p {
    width: 750px;
    color: white;
    margin: 40px auto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    font-family: 'ReformaGroteskBoldC';
}

.header-box button {
    padding: 15px 25px;
    background-color: #DB3138;
    border: none;
    color: white;
    margin-bottom: 103px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'ReformaGroteskBoldC';
}

.header-info {
    display: flex;
}

.header-info-box {
    padding:43px 66px;
    color: white;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-color: #898989;
    border-width: 1px;

}

.inf{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    font-family: 'ReformaGroteskBoldC';
}

.inf-dop {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DB3138;
    width: 500px;
    font-family: 'ReformaGroteskBoldC';
}


